.Quote {
  max-width: 35rem;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 2px;

  background-color: #FFB6C1;
  border-radius: 5px;
  padding: 1rem;
}

.Quote > blockquote {
  text-align: left;
}

.Quote > span {
  font-size: 3rem
}
